---
import { photos } from '../utils/photos.mjs';
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import {ui} from '../i18n/ui';

interface Props {
	album: string;
}

const { album } = Astro.props;
const albums = photos('assets/img/albums');
const pics = albums[album]?.images;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<dialog id="photo-dialog">
	<picture> </picture>
	<button id="close-dialog" type="reset" title="Press Esc to close" aria-label="Close"
		><svg xmlns="http://www.w3.org/2000/svg" id="mdi-close" viewBox="0 0 24 24"
			><path
				d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"
				fill="currentcolor"></path></svg
		></button
	>
	<a id="previous-photo" title="Previous photo" aria-label="Previous photo"
		><svg width="24" height="24" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
			><path
				d="M5.75 3a.75.75 0 0 0-.743.648L5 3.75v16.5a.75.75 0 0 0 1.493.102l.007-.102V3.75A.75.75 0 0 0 5.75 3Zm13.03.22a.75.75 0 0 0-.976-.073l-.084.073-8.25 8.25a.75.75 0 0 0-.073.976l.073.084 8.25 8.25a.75.75 0 0 0 1.133-.976l-.073-.084L11.06 12l7.72-7.72a.75.75 0 0 0 0-1.06Z"
				fill="currentcolor"></path></svg
		></a
	>
	<a id="next-photo" title="Next photo" aria-label="Next photo"
		><svg width="24" height="24" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
			><path
				d="M18.25 3a.75.75 0 0 1 .743.648L19 3.75v16.5a.75.75 0 0 1-1.493.102l-.007-.102V3.75a.75.75 0 0 1 .75-.75Zm-13.03.22a.75.75 0 0 1 .976-.073l.084.073 8.25 8.25a.75.75 0 0 1 .073.976l-.073.084-8.25 8.25a.75.75 0 0 1-1.133-.976l.073-.084L12.94 12 5.22 4.28a.75.75 0 0 1 0-1.06Z"
				fill="currentcolor"></path></svg
		></a
	>
</dialog>

<!-- <h1>{`${t('header.' + album)}`}</h1> -->
<h1>{t(`photos.${album}`)}</h1>
{
	pics?.map((pic) => (
		<a class={pic.orientation} href={`${pic.path}${pic.name}-1920.jpg`} aria-label={pic.name}>
			<picture>
				<source srcset={`${pic.path}${pic.name}-100.avif 100w, ${pic.path}${pic.name}-400.avif`} type="image/avif" />
				<source srcset={`${pic.path}${pic.name}-100.webp 100w, ${pic.path}${pic.name}-400.webp`} type="image/webp" />
				<source srcset={`${pic.path}${pic.name}-100.jpg 100w, ${pic.path}${pic.name}-400.jpg`} type="image/jpg" />
				<img src={`${pic.path}${pic.name}-100.jpg`} width={pic.width} height={pic.height} loading="lazy" alt="" />
			</picture>
		</a>
	))
}
